<appSettings>
  <add key="PathfinderConnectionString" value="mongodb://{0}:{1}@yourMongoServer"/>
  <add key="MongoUsername" value="yourUsername"/>
  <add key="MongoPassword" value="yourPassword"/>
</appSettings>